<div class="col-md-12">
  <h2><%= @job.title %></h2>
  <p><%= simple_format(@job.description) %></p>
  <p>Wage Upper Bound: <%= @job.wage_upper_bound %></p>
  <p>Wage Lower Bound: <%= @job.wage_lower_bound %></p>
  <p>Contact Email: <%= @job.contact_email %></p>

</div>
